In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
df = pd.read_csv("./data.csv")
df

   id image_name dynasty  coin_type    details
0   0        132     123        123  isadksahd
1   1        132     123        123  isadksahd
2   2    jhagsdg   asdjh        123  isadksahd
3   3   uiy6euwd     123        123  isadksahd